<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852207363745-vf2f4sgobk596o75cab1o8p0j71vp8pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852207363745-vf2f4sgobk596o75cab1o8p0j71vp8pc</string>
	<key>API_KEY</key>
	<string>AIzaSyAY-55pO09_S93Ut8obdlWcGPudumIfmm8</string>
	<key>GCM_SENDER_ID</key>
	<string>852207363745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7e3ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7e3ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852207363745:ios:89f0b7177833e4dfe932e0</string>
</dict>
</plist>